body{

    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 2px;

  
}

#name-user{

    font-family: Girassol, sans-serif;
    color: #7FDBFF;
    text-align: center;
}

#fotorafael{
    width: auto;
    padding: 3px;
    background-color: #0F2027;
    float:left;
    height: 220px;
    border-radius: 100%;
    
}

#habilidades{
    position:absolute;
    text-align: center;
    left: 30%;
    padding: 10px;
}

.apresentation{
    position:absolute;
    color: white;
    font-family: Roboto;
    left: 250px;
    top: 50px;
    
}

.comunicativo{
    font-size: 22px;
}
.garra{
    font-size:16px ;
}
.empatia{
    font-size: 20px;
}


.image-container{
    height: 225px;
    position:relative;
}

ul li:nth-child(odd){
  background-color: #42AA49;
}

ul li{
    color: azure;
}

div{
    border:2px solid red
}

.habilidades2{
       height: 200px;
}

.habilidade-text{
    position:relative;
    top: 21px;
}
